
<h1 class="estiloTexto1">{{texto1}}</h1>
<h2 class="estiloTexto2">{{texto2}}</h2>s

<h2 class="estiloTexto3">{{texto3}}</h2>
<mat-radio-group color="primary"  aria-label="Select an option">
    <mat-radio-button value="1"> 1</mat-radio-button>
    <mat-radio-button value="2"> 2</mat-radio-button>
    <mat-radio-button value="3"> 3</mat-radio-button>
    <mat-radio-button value="4"> 4</mat-radio-button>
    <mat-radio-button value="5"> 5</mat-radio-button>
    <mat-radio-button value="6"> 6</mat-radio-button>
    <mat-radio-button value="7"> 7</mat-radio-button>
    <mat-radio-button value="8"> 8</mat-radio-button>
    <mat-radio-button value="9"> 9</mat-radio-button>
    <mat-radio-button value="10"> 10</mat-radio-button>
  </mat-radio-group>

  <h2 class="estiloTexto4">{{texto4}}</h2>
  <mat-radio-group color="primary" aria-label="Select an option">
    <mat-radio-button value="1"> 1</mat-radio-button>
    <mat-radio-button value="2"> 2</mat-radio-button>
    <mat-radio-button value="3"> 3</mat-radio-button>
    <mat-radio-button value="4"> 4</mat-radio-button>
    <mat-radio-button value="5"> 5</mat-radio-button>
    <mat-radio-button value="6"> 6</mat-radio-button>
    <mat-radio-button value="7"> 7</mat-radio-button>
    <mat-radio-button value="8"> 8</mat-radio-button>
    <mat-radio-button value="9"> 9</mat-radio-button>
    <mat-radio-button value="10"> 10</mat-radio-button>
  </mat-radio-group>

  <h2 class="estiloTexto5">{{texto5}}</h2>
  <mat-radio-group color="primary" aria-label="Select an option" >
    <mat-radio-button   value="1"> 1</mat-radio-button>
    <mat-radio-button value="2"> 2</mat-radio-button> 
    <mat-radio-button value="3"> 3</mat-radio-button>
    <mat-radio-button value="4"> 4</mat-radio-button>
    <mat-radio-button value="5"> 5</mat-radio-button>
    <mat-radio-button value="6"> 6</mat-radio-button>
    <mat-radio-button value="7"> 7</mat-radio-button>
    <mat-radio-button value="8"> 8</mat-radio-button>
    <mat-radio-button value="9"> 9</mat-radio-button>
    <mat-radio-button value="10"> 10</mat-radio-button>
  </mat-radio-group>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Observações</mat-label><br><br>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
  </form>

<button>Enviar</button>
