

<div class="">

    <h1 class="estiloTexto1">{{ texto_principal }}</h1>
    <h2 class="estiloTexto2">{{ instrucao }}</h2>
  
    <form [formGroup]="formInquerito">
  
      <h2 class="estiloTexto3">{{ tempo_intervencao }}</h2>
      <mat-radio-group class="lado" color="primary" aria-label="Select an option" formControlName="tempo_resposta">
        <mat-radio-button *ngFor="let i of opcoes" [value]="i">{{ i }}</mat-radio-button>
      </mat-radio-group>
  
      <h2 class="estiloTexto4">{{ qualidade_atendimento }}</h2>
      <mat-radio-group class="lado" color="primary" aria-label="Select an option" formControlName="qualidade_intervencao">
        <mat-radio-button *ngFor="let i of opcoes" [value]="i">{{ i }}</mat-radio-button>
      </mat-radio-group>
  
      <h2 class="estiloTexto5">{{ recomendacao_trabalho }}</h2>
      <mat-radio-group class="lado" color="primary" aria-label="Select an option" formControlName="recomendacao">
        <mat-radio-button *ngFor="let i of opcoes" [value]="i">{{ i }}</mat-radio-button>
      </mat-radio-group>
  
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Observações</mat-label><br><br>
          <textarea matInput placeholder="" formControlName="observacoes"></textarea>
        </mat-form-field>
      </div>
  
  
      <button mat-raised-button [disabled]="formInquerito.invalid"(click)="Finalizar()"class="botao-habilitado" 
    [ngClass]="{'botao-desabilitado': formInquerito.invalid}"> Enviar </button>
 
    </form>
  </div>
  